.slider-wrap {
  width: 950px;
  height: 470px;
  float: left;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.slider-wrap a {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  -ms-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.slider-wrap a img {
  width: 100%;
  max-height: 390px;
  float: left;
}
.slider-wrap .chapeu {
  float: left;
  width: 100%;
  margin-top: 5px;
}
.slider-wrap .trs {
  position: absolute;
  background: #CCC;
  cursor: pointer;
  opacity: 0;
  bottom: 50%;
  width: 43px;
  height: 43px;
  z-index: 5;
}
.slider-wrap figcaption {
  font-size: 30px;
  font-size: 2.14286em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 100%;
}
.slider-wrap figcaption a {
  color: #000;
}
.slider-wrap figcaption a:hover {
  color: #CCC;
}
.slider-wrap .slider-wrap:hover span {
  opacity: 0.76;
  filter: alpha(opacity=76);
}
.slider-wrap .slider {
  width: auto;
  height: 306px;
  float: left;
}
.slider-wrap .slider li {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.slider-wrap .active {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  z-index: 9999;
}
.slider-wrap .next {
  right: 10px;
}
.slider-wrap .next:before, .slider-wrap .next:after {
  left: 21px;
}
.slider-wrap .next:before {
  -webkit-transform: rotate(-42deg);
  top: 5px;
}
.slider-wrap .next:after {
  -webkit-transform: rotate(-132deg);
  top: 19px;
}
.slider-wrap .next:before,
.slider-wrap .next:after,
.slider-wrap .prev:before,
.slider-wrap .prev:after {
  content: "";
  height: 20px;
  background: #fff;
  width: 1px;
  position: absolute;
}
.slider-wrap .prev {
  left: 10px;
}
.slider-wrap .prev:before, .slider-wrap .prev:after {
  left: 18px;
}
.slider-wrap .prev:before {
  -webkit-transform: rotate(42deg);
  top: 5px;
}
.slider-wrap .prev:after {
  -webkit-transform: rotate(132deg);
  top: 19px;
}
.slider-wrap .pagination {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  left: 0;
}
.slider-wrap .pagination li {
  float: left;
  margin: 0 5px;
}
.slider-wrap .pagination li a {
  border: none;
  display: block;
  background-color: #e3e3e3;
  border-radius: 50px;
  width: 12px;
  height: 12px;
  font-size: 0;
}
.slider-wrap .pagination li a.active {
  background-color: #109bd3;
}
.slider-wrap .pagination li a.pg-on {
  background-color: #109bd3;
}
